/*  전체 스타일 */
* {
  box-sizing: border-box;
}

/* 테이블 스타일 */
/* 
  - table : 기본 테이블 스타일
  <옵션>
  - table-hover : 마우스가 올라간 줄에 하이라이트 적용
  - table-stripe : 2줄마다 한 줄씩 하이라이트 적용
*/
.table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
.table > thead > tr > td,
.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th {
  border: 1px solid black;
  padding: 0.5rem;
}
.table.table-stripe > tbody > tr:nth-child(2n-1) {
  background-color: darkgrey;
}
.table.table-hover > tbody > tr:hover {
  background-color: darkgrey;
}
/* 모달 화면 디자인 */
/* 
  - 초기에는 미표시 상태로 구현되어 있음
  - .modal 에 display:block으로 변경하면 표시됨
  - 모달창의 투명도는 50%(0.5)
  - 모달화면의 크기는 300x400(변경가능/변경시위치조정필요)
*/
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
}
.modal > .modal-view {
  position: fixed;
  width: 300px;
  height: 400px;
  background-color: white;

  /* 가운데 배치 */
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -200px;
}

/* 사이드 메뉴 스타일 */
/* 
  - 리스트 형태로 계층 구조를 구현한 사이드 메뉴 스타일
  - hover 상황에서 하위 메뉴가 펼쳐짐
*/
.custom-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  width: 150px;
}
.custom-list > li {
  background-color: black;
  color: white;
  padding: 15px;
  /* margin: 15px 0px; */
  cursor: pointer;
}
.custom-list li:hover {
  background-color: gray;
  color: black;
}
/* 2차 이상의 메뉴 스타일 */
.custom-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  /* 페이지 기준 = top left ... */
  /* 대상 기준 = margin */
  margin-left: 135px;
  margin-top: -36px;

  /* 2차 이상의 메뉴는 처음에 숨김 처리 */
  display: none;
}
.custom-list ul > li {
  background-color: black;
  color: white;
  padding: 15px;
  width: 150px;
}
/*
  메뉴를 표시하는 방법
  1. hover   : 
  2. checked : label, checkbox 활용
 */
.custom-list li:hover > ul {
  display: block;
}
/* overflow설정(넘침 설정) */
/*  - 숨김처리 + 줄바꿈금지 + 말줄임표 설정 */
.custom-list li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 웹폰트 */
@font-face {
  font-family: maple-bold;
  src: url("../font/Maplestory-Bold.ttf");
}
@font-face {
  font-family: binggrae;
  src: url("../font/Binggrae.ttf");
}
@font-face {
  font-family: melona;
  src: url("../font/BinggraeMelona.ttf");
}

/* 폭이 720 이하면 2단으로 표시 */
@media screen and (max-width: 720px) {
  .gallary > .gallary-item {
    width: 50%;
  }
}
@media screen and (max-width: 540px) {
  .gallary > .gallary-item {
    width: 100%;
  }
}

/* 메뉴 스타일 */
/* 
    - 기본옵션(.menu) / 부가옵션(.menu-fixed)
    - 반응형으로 구성(720px 이하면 모바일용 메뉴)
    - 좌측메뉴는 .left-menu, 우측메뉴는 .right-menu로 표시
*/
.menu {
  background-color: coral;
}
.menu > .menu-item {
  color: white;
  padding: 1rem;
}
.menu > .menu-left {
  float: left;
}
.menu > .right-menu {
  float: right;
}
.menu::after {
  content: "";
  display: block;
  clear: both;
}
.menu a {
  text-decoration: none;
}
.menu a:hover {
  color: green;
}
.menu > label {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;

  display: none;
}
.menu > #hamburg {
  display: none;
}
.menu > #hamburg:checked ~ .menu-item {
  display: block;
}

/* @media screen and (max-width: 720px) { */
/*   좁은화면이 되면.. */
/*   [1] 라벨 표시 */
/*   [2] 메뉴 숨김 */
/*   [3] .right-menu의 float를 left로 변경하고 폭을 최대로 키움 */
/*   .menu > label { */
/*     display: block; */
/*   } */
/*   .menu > .menu-item { */
/*     display: none; */
/*     width: 100%; */
/*   } */
/* } */
/* .menu.menu-fixed { */
/*   position: fixed; */
/*   left: 0; */
/*   right: 0; */
/*   top: 0; */
/* } */
