<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>font</title>
</head>
<body>
	<font color ="f38181" size="7" face="굴림">가나다라마바사<br></font>
	<font color ="fce38a" size="6" face="고딕">가나다라마바사<br></font>
	<font color="eaffd0" size="5" face="바탕">가나다라마바사<br></font>
	<font color="95e1d3" size="4" face="명조">가나다라마바사<br></font>
	<font color="30e3ca" size="3" face="궁서">가나다라마바사<br></font>
	<font color="11999e" size="2" face="빙그레체">가나다라마바사<br></font>
	<font color="40514e" size="1">가나다라마바사<br></font>
</body>
</html>