<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>테이블2</title>
</head>
<body>
	<table border="1">
		<thead>
			<tr bgcolor="#fcc169">
				<th>번호</th>
				<th width="300">제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr>
				<td>3</td>
				<td>서비스 점검 공지</td>
				<td>운영자</td>
				<td>2019-11-20</td>
				<td>35</td>
			</tr>
			<tr>
				<td>2</td>
				<td>소방 훈련 안내</td>
				<td>운영자</td>
				<td>2019-11-19</td>
				<td>60</td>
			</tr>
			<tr>
				<td>1</td>
				<td>공지사항</td>
				<td>운영자</td>
				<td>2019-11-12</td>
				<td>102</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
</body>
</html>