<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>테이블 예제3</title>
</head>
<body>
	<div align="center">
		<h1>시험 일정</h1>
		<table border="1">
			<thead>
				<tr bgcolor="#fcc169">
					<th rowspan="2" width="50">회차</th>
					<th colspan="3">일정</th>
				</tr>
				<tr bgcolor="#fcc169">
					<th width="150">접수</th>
					<th width="150">시험</th>
					<th width="100">발표</th>
				</tr>
			</thead>
			<tbody align="center">
				<tr>
					<td>1회</td>
					<td>01.28 ~ 02.01</td>
					<td>02.16 ~ 02.24</td>
					<td>03.07</td>
				</tr>
				<tr>
					<td>2회</td>
					<td>04.22 ~ 04.26</td>
					<td>05.11 ~ 05.19</td>
					<td>05.30</td>
				</tr>
			</tbody>
			<tfoot>
			</tfoot>
		</table>
	</div>
</body>
</html>