<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>테이블</title>
</head>
<body>
	<!-- 샘플 표 생성 -->
	<table border="1" width="50%">
		<!-- thead : 제목 등 테이블 항목 정보를 표시 -->
		<thead>
			<!-- tr : 줄 -->
			<tr bgcolor="lightgray">
				<!-- th / td : 칸 -->
				<th>번호</th>
				<th>이름</th>
				<th>가격</th>
			</tr>
		</thead>
		<tbody align="center">
			<tr>
				<td>10000</td>
				<td>허니버터칩</td>
				<td>3500</td>
			</tr>
			<tr>
				<td>10001</td>
				<td>처음처럼</td>
				<td>1500</td>
			</tr>
			<tr>
				<td>10002</td>
				<td>카스</td>
				<td>2200</td>
			</tr>
		</tbody>
		<tfoot></tfoot>
	</table>
</body>
</html>